/*startof div.html*/
html, body{
    padding:0;
    margin:0;
}
#body{
    background-color:rgb(164, 164, 194);
    font-size:14px
}
#topbar{
    height:70px;
    background-color:rgb(164, 164, 194);
}
#topbar #left{
    width:30%;
    float:left;
    height:100%;
    font-size:50px;
    font-style: italic;
    color:black;
    padding-left: 60px;
}
#topbar #right{
    width:40%;
    float:right;
    height:100%;
    font-size:60px;
    background-color:rgb(164, 164, 194);
}
#topbar #right a{
    display:inline;
    font-size:30px;
    text-decoration:none;
}
#topbar #right a:hover{
    padding: 10px;
    color:red;
}
#middlebar{
    height: 950px;
    background-image: url("luxury-home.jpg");
    background-size: cover;
    font-size: 3vw;
    color:black; 
    font-style: oblique; 
}
#text{
    padding-top: 5%;
    padding-left: 5%;
}
#middlebar a{
    text-decoration: none;
    padding: 60px;
}
#bottombar{
    height:410px;
    background-color: rgb(32, 104, 170);
}
#bottombar #leftside{
    width:40%;
    float:left;
    height:100%;
    font-size:25px;
    color: black;
}
#bottombar #leftside h2{
    color:goldenrod;
}
#bottombar #leftside ul{
    text-align: center;
    list-style-type:none;
    color: rgb(36, 247, 8);
}
#bottombar #rightside{
    width:40%;
    float:right;
    height:100%;
    font-size:30px;
    color: rgb(36, 247, 8);
}
#bottombar #rightside i{
    color: black;
}
#footer{
    left:0;
    bottom:0;
    width:100%;
    background-color:rgb(164, 164, 194);
    color:red;
    text-align:center;
}
/*startof div.html*/
html, cbody{
    padding:0;
    margin:0;
}
#contacts{
    height: 700px;
    margin:0;
    background-image: url("luxury-home.jpg");
    background-size: cover;
    font-size: 3vw;
    color:black; 
    font-style: oblique; 
    top:300px;
    background-color: rgb(164, 164, 194);

}
#table{
    border-collapse: collapse;
    width:100%;
    height:900px;
}
#table td, #table th{
    border:1px solid #ddd;
    padding:8px;
}
#table tr:nth-child(even){background-color:#edecf3;}
#table tr:hover{background-color:rgb(0, 247, 255);}
#table th{
    padding-top: 12px;
    padding-bottom:12px;
    text-align:left;
    background-color:rgb(17, 19, 110);
    color:rgb(0, 247, 255);
    font-size:40px;
}
#table td{
    font-size:25px;
    font-style:oblique;
}
#form{
    text-align: center;
    background-color:blueviolet;
    padding: 20px;
}
#form input, #form textarea{
    width:300px;
    padding:10px;
    font-size:15px;
    margin: 3px;
    border-radius: 5px;
}
#form textarea{
    height: 100px;
}
#form input[type="submit"]{
    width:90px;
    background-color: aqua;
    border-radius: 10px;
    outline:none;
    color:navy;
}
#houses #right{
    width:100%;
    float:right;
    height:100%;   
}
#houses #right a{
    display:inline;
    text-decoration:none;
    background-color:rgb(164, 164, 194);
}
#houses #right a:hover{
    padding: 10px;
    color:red;
}
#crib1body{
    background-color: blue;
}
#crib1p{
    height: 100px;
    padding-left:40px;
    background-size: cover;
    font-size: 30px;
    color:greenyell0w; 
    font-style:oblique; 
}
